# needs a search bar to search by types of muffins

<%= button_to "Choose your Muffin!", '/orders/new'  %>

<h1>Create your review!</h1>
<!-- GET /orders/:id/edit, to orders#edit -->

<%= collection_select(:order, :muffin_type_id, MuffinType.all, :id, :flavor, :prompt => "Select your muffin to review") %><br><br>

#list of all muffin reviews
