<%= button_to "Choose your Muffin!", user_path(@logged_in_user.id), :method => :get %>
<%#= button_to "Choose your Muffin!", user_path(@user), :method => :get %>
<h1>Create your review!</h1>
<!-- GET /orders/:id/edit, to orders#edit -->

<%= collection_select(:order, :muffin_type_id, MuffinType.all, :id, :flavor, :prompt => "Select your muffin to review") %><br><br>
