<div class="container text-center">
  <%= button_to "Choose your Muffin!", user_path(@logged_in_user.id), :method => :get , class:"btn btn-primary" %>
<%#= button_to "Choose your Muffin!", user_path(@user), :method => :get %>

  <h1>Reviews</h1>



  <% @new_orders.each do |order| %>
    Title: <%= order.title %> <br>  Stars: <%=order.stars %> <br> Review: <%= order.review %> <br><br>
  <% end %>
</div>